body {
    max-width: 300px;
    margin: auto;
}

h1 {
    color:red;
}

p {
    background-color: aqua;
}

#chosen {
    text-decoration: underline;
    position: relative;
    top: -40px;
    left: -40px;
}

.border {
    border: 1px solid brown;
}

div p {
    font-weight: bold;
}

p:hover {
    text-decoration: underline;
}

p::first-letter{
    font-size: 2rem;
}
